<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
    </head>

    <body>
        {{>header}}
        <p>This is a beautiful scenory located in the hills of himalaya. Please visit this place once in ur life</p>
        <img class="portait" src="/img/beautiful.jpg">
        {{>footer}}
    </body>
</html>
