<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
    </head>

    <body>
        {{!-- rendering a partial --}}
        {{>header}}
        <p>Hi, {{name}} here. How can i help you ?</p>
        {{>footer}}
    </body>
</html>
