<!DOCTYPE html>

<html>
    <head>
        <!-- this includes style.css file -->
        <!-- href = "/css/style.css" : this path means rootdirectory which is set in app.use then /css ...etc  -->
        <!-- href = "./css/style.css" : this path means ./ taking to current directory which is src then adding /css ...etc -->
        <link rel = "stylesheet" href = "/css/style.css">
        <!-- To include js file -->
        <script src = "/js/app.js"></script>
    </head>

    <body>
        {{>header}}
        <div class="">
            <a href="/weather?address=delhi">Delhi's Weather</a>
            <a href="/weather?address=shimla">Shimla's Weather</a>
        </div>
        {{>footer}}
    </body>
</html>
